<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="CMSConnectionString" connectionString="Data Source=JSCARIATI\SQLEXPRESS2022; Initial Catalog=powerfi_prod_kentico; Integrated Security=False;User ID=powerfi_local; Password=!JE6bRwHfg^AKJ8a; Connect Timeout=60" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>