<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="CMSConnectionString" connectionString="Data Source=localhost; Initial Catalog=bancfirst_local_kentico_k13; Integrated Security=False;User ID=bancfirst_local_k13; Password=password; Connect Timeout=60" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>