<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<connectionStrings>
		<clear />
		<!--<add name="CMSConnectionString" connectionString="Data Source=localhost; Initial Catalog=bancfirst_local_kentico_k13; Integrated Security=False;User ID=bancfirst_local_k13; Password=password; Connect Timeout=60" providerName="System.Data.SqlClient" />-->
		    <add name="CMSConnectionString" connectionString="Data Source=192.168.56.6\SQLServer2022; Initial Catalog=amerisbank_local_kentico_colinf; Integrated Security=False;User ID=colinf; Password=77gJ6CoLhJBO8Dpk; Connect Timeout=60" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>